{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="marco-layout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 border-end ">
                    <div class="d-flex flex-column sticky-top stick-filter d-none d-md-flex">
                        {% include "catalog/includes/filters_form.html" with form_type="desktop" %}
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="catalog-main-content">
                        <div class="catalog-search-bar">
                            <div class="d-flex flex-row justify-content-center align-items-center catalog-search-form">
                                <form method="get" class="search-form d-flex align-items-center flex-fill"
                                      action="{% url 'catalog:search-catalog' %}"
                                      id="catalog-search-form-main">
                                    <div class="input-group flex-fill me-3">
                                        <span class="input-group-text"><i
                                                class="fa-solid fa-magnifying-glass"></i></span>
                                        <input type="text" name="q" placeholder="Пошук..."
                                               class="form-control search-input"
                                               value="{{ request.GET.q }}">
                                    </div>
                                    <div class="d-none d-md-flex">
                                        <button class="button-3 flex-fill me-3">Пошук</button>
                                    </div>
                                    <div class="d-flex d-md-none">
                                        <button class="filters-btn" type="button" data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasWithBothOptions"
                                                aria-controls="offcanvasWithBothOptions"><i
                                                class="fa-solid fa-filter"></i>
                                        </button>
                                    </div>
                                </form>


                            </div>
                        </div>
                        <div class="row">
                            <div class="active-filters d-flex flex-wrap mb-3">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="courses-list">
                                    {% for course in courses %}
                                        <a href="{{ course.get_absolute_url }}" class="text-decoration-none">
                                            <div class="card course-card">
                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <!-- Изображение -->
                                                        <img src="{{ course.preview.url }}"
                                                             alt="{{ course.course_name }}"
                                                             class="img-fluid me-3 rounded card-image">

                                                        <div>
                                                            <h5 class="card-title">{{ course.course_name }}</h5>
                                                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ course.owner }}</h6>
                                                            <p class="card-text">{{ course.full_price }}</p>
                                                            {#                                                            <a href="{{ course.get_absolute_url }}" class="card-link">Подробнее</a>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
         aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% include "catalog/includes/filters_form.html" with form_type="mobile" %}
        </div>
    </div>
{% endblock content %}
