{% extends 'base.html' %}
{% load static course_filters %}

{% block content %}
    <div class="catalog">
        <div class="catalog-search-bar">
            <div class="d-flex flex-row justify-content-center align-items-center catalog-search-form">
                <form method="get" class=" mt-1 search-form d-flex align-items-center flex-fill"
                      action="{% url 'catalog:search-catalog' %}" id="main-search-form">

                    <div class="input-group flex-fill me-3">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" name="q" placeholder="Пошук..." class="form-control search-input"
                               value="{{ request.GET.q }}">
                    </div>

                    <div class="d-none d-md-flex">
                        <div class="flex-fill me-3 ">
                            <select aria-label="Default select example">
                                <option selected>Будь-якою мовою</option>
                                <option value="1">Українська</option>
                                <option value="2">English</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center me-3 flex-fill">
                            <input type="checkbox" class="me-2">
                            <span>З&nbspсертифікатами</span>
                        </div>
                        <div class="d-flex align-items-center me-3 flex-fill">
                            <input type="checkbox" class="me-2">
                            <span>Безкоштовні</span>
                        </div>
                    </div>
                    <button class="button-3 flex-fill me-3">Пошук</button>

                    <div class="d-flex d-md-none">
                        <button class="filters-btn" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
                                class="fa-solid fa-filter"></i>
                        </button>
                    </div>

                </form>
            </div>
        </div>


        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
             aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p>Try scrolling the rest of the page to see this option in action.</p>
            </div>
        </div>


        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

            {% for cat in cats %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if forloop.first %}active{% endif %}" id="pills-{{ cat.id }}-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#pills-{{ cat.id }}"
                            data-cat-id='{{ cat.id }}' type="button" role="tab"
                            aria-controls="pills-{{ cat.id }}-controls"
                            aria-selected="true">
                        {{ cat.title }}
                    </button>
                </li>
            {% endfor %}

        </ul>
        <div class="tab-content" id="pills-tabContent">
            {% for cat in cats %}
                <div class="tab-pane fade show {% if forloop.first %}active{% endif %} load-tab" id="pills-{{ cat.id }}"
                     role="tabpanel"
                     aria-labelledby="pills-{{ cat.id }}-tab"
                     tabindex="0">
                    {% include 'catalog/includes/courses_slider_placeholder.html' %}
                </div>
            {% endfor %}
        </div>


    </div>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script>
$(document).ready(function () {
    var loadedTabs = {};

    function loadTabContent(cat_id) {
    if (!loadedTabs[cat_id]) {
        setTimeout(function() {
            $.ajax({
                type: 'GET',
                url: '/catalog/api/v1/get-courses/',
                data: {
                    cat_id: cat_id,
                },
                success: function (data) {
                    $('#pills-' + cat_id).html(data);
                    loadedTabs[cat_id] = true;
                }
            });
        }, 300);
    }
}

    var activeTabCatId = parseInt($('button.nav-link.active').data('cat-id'), 10);
    loadTabContent(activeTabCatId);

    $('button[data-bs-toggle="pill"]').on('shown.bs.tab', function (e) {
        var cat_id = $(e.target).data('cat-id'); // Получаем id категории
        loadTabContent(cat_id);
    });
});
</script>


{% endblock content %}