{% extends 'teach/teach_base.html' %}

{% load static %}

{% block teach_layout %}
    <div class="col-md-9">
        <div class="catalog-main-content">
            <form id="course-form" action="{% url 'teach:create_course' %}" method="post">
                {% csrf_token %}
                {% if form.captcha.errors %}
                    <div class="alert alert-danger alert-dismissible pb-0 captcha-error" role="alert">
                        <div class="form-error-1 text-center">Ви не пройшли перевірку на робота</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endif %}
                <div class="mb-3">
                    <label for="id_course_name">Назва курсу:</label>
                    <input type="text" class="form-control" name="course_name" maxlength="255" required=""
                           id="id_course_name">
                </div>

                <div id="captcha-container" class="mb-3" style="display:none;">
                    {{ form.captcha }}
                </div>

                <button type="submit" class="button-3" id="submit-btn">Створити</button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const submitBtn = document.getElementById('submit-btn');
            const captchaContainer = document.getElementById('captcha-container');
            let captchaVisible = false;

            // Слушаем нажатие на кнопку сабмита
            submitBtn.addEventListener('click', function (event) {

                if (!captchaVisible) {
                    event.preventDefault();  // Останавливаем отправку формы
                    captchaContainer.style.display = 'block';  // Показываем капчу
                    captchaVisible = true;  // Теперь капча видна
                }
            });

        });
    </script>
{% endblock %}
