{% extends 'teach/teach_base.html' %}

{% load static %}

{% block teach_layout %}
    <div class="col-md-9">
        <div class="catalog-main-content">
            <div id="modules-container">
                <input id="csrf_token" type="hidden" value="{{ csrf_token }}">
                {% if not modules %}
                    Створіть перший модуль
                {% endif %}
                {% for module in modules %}

                    {% include 'includes/teach_module_form.html' with module=module num=forloop.counter %}

                    <hr class="border border-2 opacity-50">

                {% endfor %}

            </div>
            <button type="button" name="create-module" class="button-3"><i class="fa-solid fa-plus"></i> Додати модуль
            </button>
        </div>
    </div>

    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('button[name="create-module"]').click(function (event) {
                event.preventDefault();
                const csrf_token = document.getElementById('csrf_token').value;

                $.ajax({
                    url: "{% url 'teach:coursemodules-detail' course.id %}",
                    type: "POST",
                    data: null,
                    headers: {
                        'X-CSRFToken': csrf_token  // Используем извлеченный CSRF-токен
                    },
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $('#modules-container').append(response.module_form);
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            });

            $('button[name="create-lesson"]').click(function (event) {
                event.preventDefault();
                const csrf_token = document.getElementById('csrf_token').value;
                const module_id = $(this).data('module-id').toString();

                $.ajax({
                    url: "{% url 'teach:lesson-detail' course.id %}",
                    type: "POST",
                    data: JSON.stringify({module_id: module_id}),
                    headers: {
                        'X-CSRFToken': csrf_token
                    },
                    processData: false,
                    contentType: 'application/json',
                    success: function (response) {
                        $('.accordion-body-' + module_id).append(response.lesson_form);
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            });





        });


    </script>

{% endblock %}