{% extends 'base.html' %}

{% load static %}
{% load account %}
{% load socialaccount %}

{% block content %}
    <div class="container" id="reg_container">
        <div class="d-flex justify-content-center my-3">
            <div class="col-md-6">
                <form id="registerForm" action="{% url 'clients:register' %}" method="post" content="application/json">
                    {% csrf_token %}
                    <label for="id_email" class="form-label">Email:</label>
                    {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                            <div class="form-error-1 text-center">{{ form.email.errors }}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <input type="email" name="email"
                           value="{% if form.email.value %}{{ form.email.value }}{% endif %}" autofocus=""
                           autocapitalize="none"
                           autocomplete="email" maxlength="254" required="" id="id_email" class="form-control">

                    <label for="id_first_name" class="form-label">first_name:</label>
                    {% if form.first_name.errors %}
                        <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                            <div class="form-error-1 text-center">{{ form.first_name.errors }}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <input type="text" name="first_name"
                           value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" autofocus=""
                           autocapitalize="none"
                           autocomplete="first_name" maxlength="254" required="" id="id_first_name"
                           class="form-control">

                    <label for="id_last_name" class="form-label">last_name:</label>
                    {% if form.last_name.errors %}
                        <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                            <div class="form-error-1 text-center">{{ form.last_name.errors }}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <input type="text" name="last_name"
                           value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" autofocus=""
                           autocapitalize="none"
                           autocomplete="last_name" maxlength="254" required="" id="id_last_name" class="form-control">

                    <label for="id_password" class="form-label">password:</label>
                    {% if form.password.errors %}
                        <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                            <div class="form-error-1 text-center">{{ form.password.errors }}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <input type="password" name="password"
                           value="{% if form.password.value %}{{ form.password.value }}{% endif %}" autofocus=""
                           autocapitalize="none"
                           autocomplete="password" maxlength="254" required="" id="id_password" class="form-control">

                    <label for="id_password_confirm" class="form-label">password_confirm:</label>
                    {% if form.password_confirm.errors %}
                        <div class="alert alert-danger alert-dismissible pb-0" role="alert">
                            <div class="form-error-1 text-center">{{ form.password_confirm.errors }}</div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    <input type="password" name="password_confirm"
                           value="{% if form.password_confirm.value %}{{ form.password_confirm.value }}{% endif %}"
                           autofocus=""
                           autocapitalize="none"
                           autocomplete="password_confirm" maxlength="254" required="" id="id_password_confirm"
                           class="form-control">


                    <div class="d-flex justify-content-between">
                        <button type="submit" class="custom-btn btn-1">Регістрація</button>

                    </div>
                </form>

                <a href="{% provider_login_url 'google' %}" class="btn">Увійти з
                    Google</a>

            </div>
        </div>
    </div>

{% endblock content %}
