{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="catalog">
        <h2>Teach Courses</h2>

        <div>
            {% for course in my_courses %}
                <p>{{ course.course_name }}</p>
            {% endfor %}
        </div>

        <form id="course-form" action="{% url 'teach:courses' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.course_name.label_tag }}
                {{ form.course_name }}
            </div>
            {% if form.captcha.errors %}
                <div class="alert alert-danger alert-dismissible pb-0 captcha-error" role="alert">
                    <div class="form-error-1 text-center">Ви не пройшли перевірку на робота</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <div id="captcha-container" style="display:none;">

                {{ form.captcha }}


            </div>

            <button type="submit" id="submit-btn">Створити</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const submitBtn = document.getElementById('submit-btn');
            const captchaContainer = document.getElementById('captcha-container');
            let captchaVisible = false;

            // Слушаем нажатие на кнопку сабмита
            submitBtn.addEventListener('click', function (event) {

                if (!captchaVisible) {
                    event.preventDefault();  // Останавливаем отправку формы
                    captchaContainer.style.display = 'block';  // Показываем капчу
                    captchaVisible = true;  // Теперь капча видна
                }
            });

        });
    </script>
{% endblock content %}
